﻿@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Attending";
}

<h2>Attending</h2>
<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre">@gig.Genre.Name</span>
                @if (Model.ShowAction)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going</button>
                }

            </div>
        </li>
    }
</ul>

