﻿@model GigHub.ViewModels.GigFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Add a Gig</h2>
<div>
    @using (Html.BeginForm("Create", "Gigs"))
    {
        <p class="alert alert-info">All fields are <strong>required</strong>.</p>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Venue)
            @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Venue)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "Date, e.g. 1 Jan 2015" })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "Time, e.g. 20:00" })
            @Html.ValidationMessageFor(m => m.Time)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Genre)
            @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Genre)
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-secondary-default">Cancel</button>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}