﻿@model GigHub.ViewModels.FollowsViewModel
@{
    ViewBag.Title = "Follows";
}

<h2>Follows</h2>
<ul class="gigs">
    @foreach (var artist in Model.Follows)
    {
        <li>
            <span class="artist">@artist.Name</span>
            @if (Model.ShowAction)
            {
                <button data-gig-id="@artist.Id" class="btn btn-link btn-sm pull-right js-toggle-follow">Unfollow</button>
            }
        </li>
    }
</ul>