﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #ff4342;
    font-weight: bold;
    font-size: 0.8em;
}

.voffset {
    margin-top: 2px;
}
.voffset1 {
    margin-top: 5px;
}
.voffset2 {
    margin-top: 10px;
}
.voffset3 {
    margin-top: 20px;
}
.voffset4 {
    margin-top: 40px;
}

/*Bootstrap Overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #c32727;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    margin-left: 5px;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #2196f3;
}

.form-group {
    margin-bottom: 30px;
}

.btn {
    /*font-size: 17px;*/
    /*padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Page-level styles*/
.gigs > li {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 70px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px;
}

.gigs > li .date .day {
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 8px 8px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 80px;
    min-width: 200px;
}

.gigs > li .details .artist {
    font-weight: bold;
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 30px;
}


.gigs > li .details .genre {
    font-size: 15px;
}

.gigs > li .details button {
    margin-right: 10px;
}