﻿@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Upcoming Gigs</h1>
<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                    @if (Model.ShowAction)
                    {
                        <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Follow</button>
                    }
            </span>
            <span class="genre">@gig.Genre.Name</span>
            @if (Model.ShowAction)
            {
                <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
            }

        </div>
    </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                $.post("/api/attendances", { gigId: $(e.target).attr("data-gig-id") })
                    .done(function() {
                        $(e.target).removeClass("btn-default").addClass("btn-info").text("Going");
                    })
                    .fail(function() {
                        alert("Attending Gig Failed");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                $.post("/api/follows", {artistId: $(e.target).attr("data-artist-id") })
                    .done(function () {
                        $(e.target).text("Unfollow");
                    })
                    .fail(function (xhr, status, error) {
                        console.log(xhr);
                    });
            });
        });
    </script>
}